*{
    margin: 0;
    padding: 0;
}
.chatbot{
    width:480px;
    height: 80%;
    /* border: 2px solid #ddd; */
    border-radius: 12px;
    
    /* padding: 10px; */
}
@media only screen and (max-width:500px) {
    .chatbot{
        width: 100%;
        margin: 5px;
        padding: 8px;
    }
}
.input:focus,:active{
border: none !important;
outline: none !important;
box-shadow: none;
}

.parent{
    /* width:100vw; */
   background-color: #2F3C7E;
    height: 76vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn{
    background-color: #007bff;
    color: white;
}

.messages{
    height:90%;
    overflow-y: auto;
    margin-bottom: 10px;
    background-color:  #CADCFC;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.user{
    /* text-align: right; */
    color: #FCF6F5;
    background-color: #990011;
    padding: 8px;
    border-radius: 10px;
    display: inline-block;
    margin-left: auto;
}

.ai{
    /* text-align: left; */
    color: #FBEAEB;
    background-color: #2F3C7E;
    padding: 8px;
    border-radius: 10px;
    display: inline-block;
    margin-right: auto;
}